<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
</head>
<body>
<div>
    <p><strong> Apellido: </strong>  {{docente.apellido}}</p>
    <p><strong> Nombre: </strong>  {{docente.nombre}}</p>
    <p><strong> Email: </strong>  {{docente.email}}</p>
    <p><strong> Direccion: </strong>  {{docente.direccion.pais}}-{{docente.direccion.calle}}</p>
    <p><strong> Telefono: </strong>  {{docente.telefono.telefono}}</p>
    <br>
    <div><a href="{% url 'inicio' %}">Regresar</a></div>
</div>
</body>
</html>